@import url(https://fonts.googleapis.com/css?family=Roboto:100,300);
html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.container {
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
    font-family: "roboto"!important;
    font-weight: 400;
}


/*NAV*/

.nav {
    background: url("../img/footer_lodyas.png") repeat fixed center;
    width: 15vw;
    max-width: 300px;
    -ms-flex: 0 100px;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-box-flex: 0;
    box-flex: 0;
}

.nav input {
    width: calc(100% - 40px);
    line-height: 50px;
    font-size: 30px;
    padding: 0 20px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}

.nav form a {
    display: inline-block;
    margin: 0;
    width: 33.3333%;
    line-height: 50px;
    background-color: white;
    text-align: center;
}


/*SCROLLBOX*/

.scrollbox {
    padding: 0;
    margin: 0;
    overflow-y: scroll!important;
    height: calc(100vh - 101px);
    line-height: 0;
}

.nav .scrollbox img {
    width: 100%;
}


/*MAIN*/

.main {
    background: url("https://unsplash.it/200/130/?blur");
    background-size: cover;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgcontainer {
    max-width: 50vw;
    color: white;
    font-family: sans-serif;
}

.imgcontainer h1 {
    line-height: 0;
    font-family: "roboto";
    font-weight: 200;
    font-size: 50px;
}

.imgcontainer img {
    width: 100%;
}

.imgcontainer span,
.imgcontainer p {
    float: right;
    font-family: "roboto";
    font-weight: 400;
}

.imgcontainer p {
    float: left;
    margin-top: 0;
}

.imgcontainer span a {
    display: inline-block;
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px 15px 0px;
}

.imgcontainer span a img {
    width: 30px;
}


/* Let's get this party started */

.scrollbox::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

.scrollbox::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

.scrollbox::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}

.scrollbox::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
}
